/* the styles for the footer */
footer {
	clear: both;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 2.5em;
    padding-top: 5px;
    width: 100%;
    background-color: maroon;
}

footer p {
	text-align: center;
	color: #ffffff;
	padding: 0;   
}

/* CSS for Return to Top toggle because this is where I felt like putting it */

.warp {
    margin: auto;
    text-align: center;
    color: black;
    font-weight: bold;
}

.warp a {
    color: black;
}

.warp a:hover {
    color: black;
}