/* the styles for the elements */
* {
	margin: 0;
	padding: 0;
}

html {
	color: #fffded;
}

a:focus, a:hover {
    font-style: italic;
}

/* CSS for page content */
h1 {
    font-weight: bold;
    margin: auto;
    padding-bottom: 20px;
    min-width: 400px;
}

article {
    margin: auto;
    display: block;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 10px 10px 0 0;
    max-width: 500px;
}

article p {
    padding-right: 10px;
    line-height: 125%
    max-width: 50%;
}

article img {
    float: right;
    padding-left: 10px;
    padding-bottom: 10px;
    min-width: 200px;
    max-width: 50%;
}

.col-12 {
    padding: 1em;
}

/* CSS for Buttons */
section {
    display: block;
    margin: auto;
    color: black;
}

section a {
    color: black;
    text-decoration:none;
}

section a:hover {
    color: black;
    text-decoration: none;
}

section .col-3 {
    min-width: 150px;
    max-width: 250px;
}

.buttons {
    margin: auto;
}

.button {
    margin: auto;
}

#Florio {
    background-color: skyblue;
    border: 2px solid blue;
    box-shadow: 2px 2px 2px blue;
}

#Belusylva {
    background-color: orange;
    border: 2px solid red;
    box-shadow: 2px 2px 2px red;
}

#Maricopia {
    background-color: pink;
    border: 2px solid mediumvioletred;
    box-shadow: 2px 2px 2px mediumvioletred;
}

#Voluca {
    background-color: lawngreen;
    border: 2px solid darkgreen;
    box-shadow: 2px 2px 2px darkgreen;    
}

#Durice {
    background-color: violet;
    border: 2px solid purple;
    box-shadow: 2px 2px 2px purple;
}

#Aurus {
    background-color: yellow;
    border: 2px solid goldenrod;
    box-shadow: 2px 2px 2px goldenrod;